.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 0;
    border: 1.4px black solid;
    padding:  20px;
}

.card h2, p{
    margin: 0;
    bottom: 0;
}

.card h2, h3, h4, #name{
    padding: 0 10px;
}

.card #read-more{
    border-radius: 10px;
    width: auto;
    height: 30px;
    border: 1px black solid;
    transition: background-color 400ms ease-out;
    margin-left: 8px;
    margin-top: 12px;
}

.card #read-more:hover{
    background-color: rgb(132, 131, 131);
    transition: background-color 400ms ease-in;
}

