.header-container{
    background: rgb(19, 19, 19);
    height: fit-content;
    width: 100%;
    color: white;
    box-shadow: 0 0 10px 1px black;
}

.items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
    height: 60px;
}

.brand{
    display: flex;
    align-items: center; 
}

.brand h2{
    padding-left: 10px;
}

ul{
    display: flex;
    list-style: none;
}

ul li{
    margin: 0 10px;  
}

.brand a{
    text-decoration: none;
    color: white;
}

ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 200ms ease-out;
}

ul li a:hover{
    background-color: rgb(120, 171, 171);
    transition: background-color 250ms ease-in;
}

